:root {
  /* font */
  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  /* color backgrounds */
  --color-bg-acent: #2e2f42;
  --color-bg-main: #ffffff;
  --color-bg-secondary: #f4f4fd;
  --color-bg-overlay: #4d5ae5;
  --color-bg-modal: #fcfcfc;

  /* color fonts */
  --color-font-main: #2e2f42;
  --color-font-acent: #4d5ae5;
  --color-font-secondary: #434455;
  --color-font-hero: #ffffff;
  --color-font-footer: #e7e9fc;
  --color-logo-footer: #f4f4fd;

  /* color buttons */
  --color-bth-main: #f4f4fd;
  --color-btn-acent: #4d5ae5;
  --color-btn-border: #e7e9fc;
  --color-btn-press: #404bbf;

  /* color link */
  --color-link-main: #4d5ae5;
  --color-link-acent: #404bbf;
  --color-link-acent-footer: #31d0aa;
  --color-link-secondary: rgba(255, 255, 255, 0.1);
  --color-link-fill: #f4f4fd;
  --color-customer-main: #8e8f99;
  --color-customer-acent: #4d5ae5;

  /* color modal form */
  --color-modal-label-text: #8e8f99;
  --color-modal-input-border: rgba(33, 33, 33, 0.2);
  --color-modal-placeholder: rgba(117, 117, 117, 0.5);
  --color-modal-privacy-text: #757575;
  --color-modal-icon: #2e2f42;
  --color-modal-accent: #4d5ae5;
  --color-modal-checkbox-icon: #f4f4fd;

  /* shadow */
  --shadow-main: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

  /* transition */
  --transition-slow: 750ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-main);
  color: var(--color-font-secondary);

  background-color: var(--color-bg-main);
}

/* --------------------------
------- DROP STYLE -------
-------------------------- */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

/* =====hiden text===== */
.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* /////hiden text///// */
/* --------------------------
------- /DROP STYLE -------
-------------------------- */

/* --------------------------
------- COMPONENTS -------
-------------------------- */
/* =====container for diferent gajets===== */
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
  }
}
/* /////container for diferent gajets///// */

/* =====section for diferent gajets===== */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* /////section for diferent gajets///// */

.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-font-main);
}

/* =====current page===== */
.current {
  display: block;
  color: var(--color-font-acent);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: calc(24px - 4px);

  background-color: var(--color-font-acent);
  border-radius: 2px;
}
/* /////current page///// */

/* =====logo===== */
.logo {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-font-main);
}

.logo-acent {
  color: var(--color-font-acent);
}
/* /////logo///// */

/* --------------------------
------- /COMPONENTS -------
-------------------------- */

/* ----------------------
------- HEADER -------
---------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* =====plus shadow for portfolio page===== */
.header-shadow {
  box-shadow: var(--shadow-main);
}
/* /////plus shadow for portfolio page///// */

.header-menu-wrapper {
  display: flex;
}

/* =====navigation menu for mobile===== */
@media screen and (max-width: 767px) {
  .header-nav-wrapper {
    display: none;
  }

  .header-mobile-btn {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
  }

  .header-menu-wrapper {
    align-items: center;
    justify-content: space-between;
  }
}
/* /////navigation menu for mobile///// */

/* =====navigation menu for tablet===== */
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 0;
  }

  .header-mobile-btn {
    display: none;
  }

  .header-nav-wrapper {
    display: flex;
    width: 100%;
  }
}

.header-nav-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header-nav-menu-list {
  display: flex;
}

.nav-menu-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-menu-item:not(:last-child) {
  margin-right: 40px;
}

.nav-menu-link {
  display: block;
  color: var(--color-font-main);

  transition: color var(--transition-fast);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--color-font-acent);
}

.nav-menu-link:active {
  color: var(--color-btn-press);
}

.header-contact {
  display: flex;
  flex-direction: column;
}

.header-contact-link {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-font-secondary);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-font-acent);
}

.header-contact-link:active {
  color: var(--color-btn-press);
}

.header-contact-item:first-child {
  margin-bottom: 4px;
}
/* /////navigation menu for tablet///// */

/* =====navigation menu for desktop===== */
@media screen and (min-width: 1200px) {
  .header-nav-menu {
    margin-left: 76px;
  }

  .header-contact {
    display: flex;
    flex-direction: row;
  }

  .header-contact-item:first-child {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--transition-fast);
  }
}
/* /////navigation menu for desktop///// */

/* =====mobile menu===== */
.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  z-index: 100;

  width: 100%;
  height: 100%;
  background-color: var(--color-bg-main);

  overflow: auto;
  transform: translateX(100%);
  transition: transform var(--transition-fast);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--color-btn-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--transition-fast), border-color var(--transition-fast),
    fill var(--transition-fast);
}

.mobile-menu-close-btn:active {
  background-color: var(--color-btn-press);
  border-color: var(--color-btn-press);
  fill: var(--color-bg-main);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-font-main);
}

.mobile-current {
  color: var(--color-link-acent);
}

.mobile-menu-contact-item:first-child {
  margin-bottom: 40px;
}

.mobile-menu-contact-item:nth-child(2) {
  margin-bottom: 48px;
}

.mobile-menu-tel-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-font-acent);
}

@media screen and (max-width: 378px) {
  .mobile-menu-tel-link {
    font-size: 30px;
  }
}

.mobile-menu-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-font-secondary);
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}
/* /////mobile menu///// */
/* ----------------------
------- /HEADER -------
---------------------- */

/* --------------------
------- HERO -------
-------------------- */
/* =====hero for mobile===== */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/mobile-bg.jpg);
  background-size: cover;
  background-color: var(--color-bg-acent);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/mobile-bg@2x.jpg);
  }
}

.hero > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-font-hero);
}

.hero-btn {
  margin-top: 72px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-font-hero);

  background-color: var(--color-btn-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;

  transition: box-shadow var(--transition-fast), background-color var(--transition-fast);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: var(--shadow-main);
}

.hero-btn:active {
  background-color: var(--color-btn-press);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* /////hero for mobile///// */

/* =====hero for tablet===== */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/tablet-bg.jpg);
  }

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }

  .hero-btn {
    margin-top: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/tablet-bg@2x.jpg);
  }
}
/* /////hero for tablet///// */

/* =====hero for desktop===== */
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/desktop-bg.jpg);
  }

  .hero-btn {
    margin-top: 48px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/desktop-bg@2x.jpg);
  }
}
/* /////hero for desktop///// */
/* --------------------
------- /HERO -------
-------------------- */

/* ---------------------
------- ABOUT -------
--------------------- */
/* =====about for mobile===== */
@media screen and (max-width: 1199px) {
  .about-icon-container {
    display: none;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.about-caption {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-font-main);
}

.about-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* /////about for mobile///// */

/* =====about for tablet===== */
@media screen and (min-width: 768px) {
  .about-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
  }

  .about-item {
    max-width: 356px;
  }

  .about-caption {
    text-align: start;
  }
}
/* /////about for tablet///// */

/* =====about for desktop===== */
@media screen and (min-width: 1200px) {
  .about-item {
    max-width: 264px;
  }

  .about-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-text {
    font-weight: 400;
  }

  .about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;

    background-color: var(--color-bg-secondary);
    border-radius: 4px;
  }

  .about-icon {
    width: 64px;
    height: 64px;
  }
}
/* /////about for desktop///// */
/* ---------------------
------- /ABOUT -------
--------------------- */

/* ---------------------------------
------- WHAT ARE WE DOING -------
--------------------------------- */
/* =====what are... for mobile and tablet===== */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
/* /////what are... for mobile and tablet///// */

/* =====what are... for desktop===== */
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.work-image {
  display: block;
}
/* /////what are... for desktop///// */
/* ---------------------------------
------- /WHAT ARE WE DOING -------
--------------------------------- */

/* --------------------
------- TEAM -------
-------------------- */
/* =====team for mobile===== */
.team {
  background-color: var(--color-bg-secondary);
}

.team > .container {
  flex-direction: column;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.team-thumb {
  box-shadow: var(--shadow-main);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-bg-main);
}

.team-image {
  display: block;
}

.team-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.team-caption {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-font-main);
}

.team-text {
  margin-bottom: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-secondary);
}

.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--color-link-main);

  transition: background-color var(--transition-fast);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-link-acent-footer);
}

.team-social-link:focus {
  background-color: var(--color-btn-press);
}

.team-social-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-link-fill);
}
/* /////team for mobile///// */

/* =====team for tablet===== */
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
/* /////team for tablet///// */

/* =====team for desktop===== */
@media screen and (min-width: 1200px) {
  .team-list {
    justify-content: left;
    row-gap: 24px;
  }
}
/* /////team for desktop///// */
/* --------------------
------- /TEAM -------
-------------------- */

/* -------------------------
------- CUSTOMERS -------
------------------------- */
/* =====customers for mobile===== */
.customers > .container {
  display: flex;
  flex-direction: column;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customer-item {
  width: calc(100% / 2 - 8px);
}

.customer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;

  border: 1px solid var(--color-customer-main);
  border-radius: 4px;
  color: var(--color-customer-main);

  transition: border-color var(--transition-fast), color var(--transition-fast);
}

.customer-social-link:hover,
.customer-social-link:focus {
  border-color: var(--color-customer-acent);
  color: var(--color-customer-acent);
}

.customer-social-link:active {
  border-color: var(--color-btn-press);
  color: var(--color-btn-press);
}

.customer-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
/* /////customers for mobile///// */

/* =====customer for tablet===== */
@media screen and (min-width: 768px) {
  .customer-list {
    justify-content: center;
    column-gap: 24px;
  }

  .customer-item {
    width: 168px;
  }
}
/* /////customer for tablet///// */

/* =====customer for desktop===== */
@media screen and (min-width: 1200px) {
  .customer-list {
    justify-content: left;
    row-gap: 24px;
  }
}
/* /////customer for desktop///// */
/* -------------------------
------- /CUSTOMERS -------
------------------------- */

/* ----------------------
------- FOOTER -------
---------------------- */
/* =====footer for mobile===== */
@media screen and (max-width: 767px) {
  .subsribe {
    width: 100%;
  }

  .footer-input {
    width: 100%;
  }
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--color-bg-acent);
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.logo-foter-container {
  width: 264px;
}

.logo-footer {
  display: block;
  text-align: center;
  color: var(--color-logo-footer);
}

.logo-text {
  margin-top: 16px;

  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-font-footer);
}

.social-title,
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-hero);
}

.social-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--color-link-secondary);

  transition: background-color var(--transition-fast);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--color-link-acent-footer);
}

.social-link-footer:active {
  background-color: var(--color-btn-press);
}

.social-icon-footer {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--color-link-fill);
}

.subsribe {
  display: flex;
  flex-direction: column;
}

.footer-input {
  margin-top: 16px;
}

.footer-field {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--color-font-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  transition: border-color var(--transition-fast);
}

.footer-field:checked,
.footer-field:focus {
  border-color: var(--color-link-acent-footer);
}

.footer-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-font-hero);

  background-color: var(--color-btn-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;

  transition: box-shadow var(--transition-fast), background-color var(--transition-fast);
}

.footer-btn:hover,
.footer-btn:focus {
  box-shadow: var(--shadow-main);
}

.footer-btn:active {
  background-color: var(--color-btn-press);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 15px;

  fill: var(--color-font-hero);
}
/* /////footer for mobile///// */

/* =====footer for tablet===== */
@media screen and (min-width: 768px) {
  .social-title,
  .subscribe-title {
    text-align: left;
  }

  .footer > .container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 584px;
  }

  .social {
    margin-left: 24px;
  }

  .footer-input {
    display: flex;
  }

  .footer-field {
    width: 264px;
  }

  .footer-btn {
    margin-top: 0;
    margin-right: 0;
    margin-left: 24px;
  }
}
/* /////footer for tablet///// */

/* =====footer for desktop===== */
@media screen and (min-width: 1200px) {
  .footer > .container {
    width: 1158px;
    flex-wrap: nowrap;
  }

  .social {
    margin-left: 120px;
    margin-right: 80px;
  }
} /* /////footer for desktop///// */
/* ----------------------
------- /FOOTER -------
---------------------- */

/* -------------------------
------- PORTFOLIO -------
------------------------- */
.portfolio {
  padding-top: 48px;
}

.portfolio > .container {
  display: flex;
  flex-direction: column;
}

/* =====filters button for mobile===== */
.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  column-gap: 24px;
  row-gap: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .btn-list {
    width: 300px;
  }
}

.btn-filters {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-font-acent);

  background-color: var(--color-bth-main);
  border: 1px solid var(--color-btn-border);
  border-radius: 4px;

  transition: color var(--transition-fast), background-color var(--transition-fast),
    border-color var(--transition-fast), box-shadow var(--transition-fast);
}

.btn-filters:hover,
.btn-filters:focus {
  color: var(--color-font-hero);
  background-color: var(--color-btn-acent);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filters:active {
  color: var(--color-font-hero);
  background-color: var(--color-btn-press);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* /////filters button for mobile///// */

/* =====filters button for tablet===== */
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
  }

  .btn-list {
    justify-content: center;
    margin-bottom: 64px;
  }

  .btn-filters {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
/* /////filters button for tablet///// */

/* =====filters button for desktop===== */
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 96px;
  }

  .btn-list {
    justify-content: center;
    margin-bottom: 72px;
  }
}
/* /////filters button for desktop///// */

/* =====examples for mobile===== */
.examples {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.examples-item {
  max-width: 396px;
  transition: box-shadow var(--transition-fast);
}

.overlay {
  position: relative;
  overflow: hidden;
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: auto;

  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-bg-overlay);

  color: var(--color-logo-footer);

  transform: translateY(100%);
  transition: transform var(--transition-fast);
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: var(--shadow-main);
}

.examples-item:hover .overlay-text {
  transform: translateY(0);
}

.examples-image {
  display: block;
  max-width: 100%;
  background-color: var(--color-bg-overlay);
}

.examples-description {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid var(--color-btn-border);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.examples-caption {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-font-main);
}

.examples-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-secondary);
}
/* /////examples for mobile///// */

/* =====examples for tablet===== */
@media screen and (min-width: 768px) {
  .examples {
    row-gap: 72px;
    column-gap: 24px;
  }
}
/* /////examples for tablet///// */

/* =====examples for desktop===== */
@media screen and (min-width: 768px) {
  .examples {
    row-gap: 48px;
  }
}
/* /////examples for desktop///// */
/* -------------------------
------- /PORTFOLIO -------
------------------------- */

/* ----------------------------
------- MODAL WINDOW -------
---------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(3px);

  transition: visibility var(--transition-slow), opacity var(--transition-slow);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: var(--color-bg-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-fast) 250ms, opacity var(--transition-fast) 250ms;
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .modal {
    width: calc(100% - 32px);
  }
}

/* =====animation open modal window===== */
.backdrop.is-hidden .modal {
  transform: translate(-50%, 100%);
  opacity: 0;
}
/* /////animation open modal window///// */

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--color-btn-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--transition-fast), border-color var(--transition-fast),
    fill var(--transition-fast);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-btn-acent);
  border-color: var(--color-btn-acent);
  fill: var(--color-bg-main);
}

.modal-close-btn:active {
  background-color: var(--color-btn-press);
  border-color: var(--color-btn-press);
  fill: var(--color-bg-main);
}
/* ----------------------------
------- /MODAL WINDOW -------
---------------------------- */

/* ----------------------------
------- MODAL FORM -------
---------------------------- */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-caption {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-modal-icon);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field.margin {
  margin-bottom: 0;
}

.modal-form-input-description {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-modal-label-text);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;

  transition: border-color var(--transition-fast);

  border: 1px solid var(--color-modal-input-border);
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-modal-accent);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-fast);

  fill: var(--color-modal-icon);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--color-modal-accent);
}

.modal-form-message {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 120px;
  resize: none;

  transition: border-color var(--transition-fast);

  border: 1px solid var(--color-modal-input-border);
  border-radius: 4px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--color-modal-accent);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-modal-placeholder);
}

/* =====checkbox===== */
.modal-form-check-description {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-form-check-wrapper {
  display: inline-flex;
  align-items: center;
}

.fake-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 16px;
  border: 1.25px solid var(--color-modal-icon);
  border-radius: 2px;
  color: transparent;

  transition: background-color var(--transition-fast), border-color var(--transition-fast),
    color var(--transition-fast);
}

.fake-checkbox-icon {
  width: 10px;
  height: 8px;
  fill: currentColor;
}

.modal-form-check:focus + .fake-checkbox {
  border-color: var(--color-modal-accent);
  color: var(--color-modal-checkbox-icon);
}

.modal-form-check:checked + .fake-checkbox {
  background-color: var(--color-btn-press);
  border-color: var(--color-btn-press);
  color: var(--color-modal-checkbox-icon);
}

.policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-modal-privacy-text);
}

.policy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-modal-accent);
}
/*  /////checkbox/////  */

/* =====button for send===== */
.modal-btn-send {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-font-hero);

  background: var(--color-btn-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  transition: box-shadow var(--transition-fast), backgraund-color var(--transition-fast);

  cursor: pointer;
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  box-shadow: var(--shadow-main);
}

.modal-btn-send:active {
  background-color: var(--color-btn-press);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* /////button for send///// */
/* ----------------------------
------- /MODAL FORM -------
---------------------------- */
